@page
@model IndexModel
@{
    ViewData["Title"] = "Про студента";
}

<h1>Про студента</h1>

<div class="student-card">
    <div class="student-photo">
        <img src="~/images/student.jpg" alt="Фото студента">
    </div>
    <div class="student-info">
        <p><strong>Місце навчання:</strong> Університет митної справи та фінансів</p>
        <p><strong>Прізвище:</strong> Костров</p>
        <p><strong>Ім’я:</strong> Влас</p>
        <p><strong>Група:</strong> ІПЗ21-2</p>
    </div>
</div>
